.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    width: 20%;
    margin-top: -10%;
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form .message{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
    font-size: 20px;
}

@media screen and (max-width:500px){
    .contact-from .message{
        font-size: 12px;
    }
}